.App-container {
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Side-container {
  margin-left: 16px;
  display: inline;
  margin-top: 16px;
  float: right;
  width: 20%;
}

.Scale-text-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.Scale {
  background: url('./scale.png');
  background-size: contain;
  width: 95%;
  height: 40px;
  max-width: 95%;
}

.Date-picker {
  margin-top: 16px;
  max-width: 80%;
}

.Time-picer {
  margin-top: 16px;
  max-width: 80%;
}
